<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwh.my02.mapper.MyFundMapper">
    <resultMap type="com.lwh.my02.entity.MyFund" id="MyFund">
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="fundCode" column="fund_code" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, fund_code    
    </sql>
    <!--根据ID查询数据-->
    <select id="getById" resultMap="MyFund">
        select
        <include refid="Base_Column_List"/>
        from my_fund
        where user_id = #{userId}
    </select>
    <!--新增-->
    <insert id="addMyFund">
        insert into my_fund
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--批量新增-->
    <insert id="addMyFunds">
        insert into my_fund (user_id, fund_code)
        values
        <foreach collection="myFunds" item="myFund" separator=",">
            (#{myFund.userId,jdbcType=VARCHAR}, #{myFund.fundCode,jdbcType=VARCHAR}, )
        </foreach>

    </insert>
    <!--编辑-->
    <update id="editMyFund">
        update my_fund
        <set>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>
